{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block head %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <span class="navbar-brand color_titulo" href="#"><b>Usuario:</b> {{nombreusuario.nombrecompleto}}</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link color_titulo" aria-current="page" href="{{url_for('cv')}}">Perfil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link color_titulo" aria-current="page" href="{{url_for('logout')}}">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h1 class="color_titulo">Registro De Prioridad De Cirugía</h1>
    <br>
    <form action="/add" method="post">
        <input class="form-control" name="titulo" type="text" placeholder="Ingrese la prioridad de cirugía">
        <br>
        {% if error%}
        <h4 class="text-danger">
            {{error}}
        </h4>
        {% endif%}
        <center>
            <button class="btn btn-secondary" type="submit">Guardar Prioridad</button>
        </center>
    </form>
    <br>
    <table class="table-responsive">
        
    </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PRIORIDAD</th>
                <th scope="col">ESTADO</th>
                <th scope="col">ELIMINAR</th>
            </tr>
        </thead>

        <tbody>
            {% for c in cirugias %}
            <tr>
                <th scope="row">{{c.id}}</th>
                <td>{{c.titulo}}</td>

                <td>
                    {%if c.estado %}
                    <a href="/update/{{c.id}}">
                        <i class="bi bi-check-square-fill"></i>
                    </a>
                    {% else %}
                    <a href="/update/{{c.id}}">
                        <i class="bi bi-square-fill"></i>
                    </a>

                    {% endif %}
                </td>

                <td>
                    <a href="/delete/{{c.id}}">
                        <i class="bi bi-trash btn-outline-primary"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}